- content_for :meta_title, "Contact | #{DEFAULT_META["meta_title"]}"

h1 Contact
p Tel: #{link_to "(+33) 09 53 33 86 56", "callto:+330953338656"}
p Mail : #{link_to "contact@la-revanche-des-sites.fr", "mailto:contact@la-revanche-des-sites.fr"}
